<!DOCTYPE html>
<html>
  <head>
    <title>StockFox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      window.finnhubAPIKey = "<%= Rails.application.credentials.finnhub[:api_key] %>"
      window.fmpAPIKey = "<%= Rails.application.credentials.financialmodelingprep[:api_key] %>"
      window.newsAPIKey = "<%= Rails.application.credentials.bing_news[:api_key] %>"
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,700,900'">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% image_tag "logo_hover.png" %>
    <% image_tag "logo_hover_2.png" %>
    <% image_tag "logo_standard.png" %>
    <% image_tag "search_icon.png" %>
    <% image_tag "light_mode.png" %>
    <% image_tag "dark_mode.png" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
